<!DOCTYPE html>
<html>
  <head>
    <title>Log Viewer</title>
    <link rel="stylesheet" href="/styles.css" />
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.js"></script>
    <link
      href="https://rawgit.com/abodelot/jquery.json-viewer/master/json-viewer/jquery.json-viewer.css"
      rel="stylesheet"
    />

    <script>
      var socket = io();
      // socket.on("connect", function () {
      //   socket.emit("tabId", socket.id);
      // });
      var src = '<%= data.src %>';
      var eventName = "logData_" + src;
      socket.on(eventName, function (data) {
        console.log(data);
        var block = document.createElement("div");
        var label = document.createElement("h3");
        $(block).jsonViewer(data.response, { collapsed: true });
        label.innerText = data.api;
        document.body.appendChild(label);
        document.body.appendChild(block);
      });
    </script>
  </head>
  <body>
    <h1>Log Viewer <%= data.src %></h1>
  </body>
</html>
